{% extends 'default.html' %}

{% block head %}
<title>Главная страница</title>
<link type="text/css" rel="stylesheet" href="/static/profile_css/profile.css">
{% endblock %}

{% block main %}
<br></br>
<div class="race">Предстоящие рейсы</div>
<br></br>
<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Маршрут" name="R_name">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] > date %}
    <div class="item">{{item['R_name']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Номер троллейбуса" name="trollleybus_num">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] > date %}
    <div class="item">{{item['trollleybus_num']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Количество остановок" name="Stops_quanity">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] > date %}
    <div class="item">{{item['Stops_quanity']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Дата маршрута" name="DATE(Entry_date)">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] > date %}
    <div class="item">{{item['DATE(Entry_date)']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Время выезда" name="TIME(Entry_date)">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] > date %}
    <div class="item">{{item['TIME(Entry_date)']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Время приезда" name="TIME(Exit_date)">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] > date %}
    <div class="item">{{item['TIME(Exit_date)']}}</div>
    {% endif %}
    {% endfor %}
</div>

<br></br>
<div class="race"> Прошедшие рейсы </div>
<br></br>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Маршрут" name="R_name">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] <= date %}
    <div class="item">{{item['R_name']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Номер троллейбуса" name="trollleybus_num">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] <= date %}
    <div class="item">{{item['trollleybus_num']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Количество остановок" name="Stops_quanity">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] <= date %}
    <div class="item">{{item['Stops_quanity']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Дата маршрута" name="DATE(Entry_date)">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] <= date %}
    <div class="item">{{item['DATE(Entry_date)']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Время выезда" name="TIME(Entry_date)">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] <= date %}
    <div class="item">{{item['TIME(Entry_date)']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="timesheet_item">
    <form action="" method="get" class="item">
        <input type="text" placeholder="Время приезда" name="TIME(Exit_date)">
    </form>
    {% for item in items %}
    {% if item['DATE(Entry_date)'] <= date %}
    <div class="item">{{item['TIME(Exit_date)']}}</div>
    {% endif %}
    {% endfor %}
</div>
<br></br>
{% endblock %}