{% macro footer() %}

<footer class="under_banner">
    <div><br>КЛУБ INOI</br>
        <br><a href="">Активация карты</a></br>
        <br><a href="">Подарочные сертификаты</a></br>
        <br><a href="">Акции</a></br>
        <br><a href="">Правила программной лояльности</a></br>
        <br><a href="">Вопросы и ответы</a></br>
    </div>
    <div><br>О КОМПАНИИИ</br>
        <br><a href="">Арендаторам</a></br>
        <br><a href="">Предложить помещение</a></br>
        <br><a href="">Вакансии</a></br>
        <br><a href="">История</a></br>
        <br><a href="">Доставка</a></br>
    </div>
    <div><br>КОНТАКТЫ</br>
        <br><a href="">Реквизиты</a></br>
        <br><a href="">Правовая информация</a></br>
        <br><a href="">Магазины</a></br>
    </div>
    <div><br>СЛУЖБА ПОДДЕРЖКИ</br>
        <br><a href="">8 800 123-45-67</a></br>
    </div>
    <div><br>МЫ В СОЦИИАЛНЬЫХ СЕТЯХ</br>
        <br>
        <a href="">
            <img src="/static/images/vk.png" class="soc">
        </a>
        <a href="">
            <img src="/static/images/tg.png" class="soc">
        </a>
        </br>
        <br>НАШЕ МОБИИЛЬНОЕ ПРИЛОЖЕНИЕ</br>
        <br>
        <a href="">
            <img src="/static/images/appstore.png" class="soc">
        </a>
        <a href="">
            <img src="/static/images/google.png" class="soc">
        </a>
        </br>
    </div>
</footer>

{% endmacro %}